<config>
   <agents>
      <agent>
         <path>F:\Projekte\twoforoneagent\build\libs\twoforoneagent-1.0-SNAPSHOT.jar</path>
         <classname>at.pwd.twoforoneagent.TwoForOneAgent</classname>
      </agent>
      <agent>
         <path>F:\Projekte\twoforoneagent\lib\agents\mctsagent-1.0-SNAPSHOT.jar</path>
         <classname>at.pwd.mctsagent.MancalaMCTSAgent</classname>
      </agent>
   </agents>
   <computation-time>6</computation-time>
   <stones-per-slot>6</stones-per-slot>
   <slots-per-player>6</slots-per-player>
</config>